.tab-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #491303; /* Solid red background */
	padding: 10px 0; /* Some padding to give height to the red block */
}

.tabs {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-evenly; /* Distribute space evenly around items */
	align-items: center;
	padding: 15px 0;
}

.tabs button {
	font-size: 16px;
	color: #ffd700;
	background-color: #491303;
	border: rgb(199, 127, 32);
	outline: none;
	padding: 12px 3em; /* Padding inside the buttons */
	margin: 1px 0px; /* Margin between the buttons */
	border-radius: 10px; /* Rounded borders for the buttons */
	cursor: pointer;
	transition: background-color 0.3s ease; /* Smooth background color transition */
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	&.tabsOpen {
		background-color: #853838; /* Even darker red when the button is clicked */
	}
}

.popup {
	position: fixed;
	width: 70%;
	height: 30em;
	top: 20%; /* Center the popup */
	left: 10%;
	background: rgb(216, 179, 162);
	z-index: 10;
	padding: 20px;
	border-bottom-left-radius: 18px; /* Rounded bottom left edge */
	border-bottom-right-radius: 18px; /* Rounded bottom right edge */
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
}

.popup button {
	padding: 5px 10px;
	background: #8f8a70; /* A button fit for royalty, in gold */
	color: #2e0000; /* Dark red text, for contrast and regal elegance */
	border: none;
	border-radius: 5px; /* Slightly rounded edges for the button */
	font-size: 16px;
	cursor: pointer; /* The hand of the king, beckoning for action */
}
