.App {
	text-align: center;
	padding: 0 10px;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.members-list {
	list-style-type: none;
	padding: 0;
	background-color: beige;
	/* Make this div only take up 70% of the width of the screen */
	width: 70%;
	/* Center the div */
	margin: auto;
	/* Make sure each item rendered in the  */
}

.small-gear-image {
	width: 2em;
	height: 2em;
	/* Make this small-gear-image such that it can render next to other objects */
	margin-right: 0.5em;
	display: flex;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* Styles for disabled buttons */
button:disabled {
	background-color: #ccc;
	color: #999;
	cursor: not-allowed;
	opacity: 0.6;
}

button:disabled:hover {
	background-color: #ccc;
	color: #999;
}

button:disabled:focus {
	outline: none;
}
