@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");

:root {
	/* Text Colors */
	--text-header: rgb(255, 230, 0);
	--text-primary: #fff;
	--text-secondary: #f46036;

	/* Background Colors */
	--background-1: #171123;
	--background-2: #372248;
	--background-3: #414770;
	--background-4: #5b85aa;

	/* General Colors */
	--error: #ac0404;
	--success: #4caf50;

	background-image: url("./res/Castle.png"), url("./res/Wall.png");
	background-repeat: no-repeat, repeat;
	background-size: 17rem, contain;
	background-position:
		bottom left,
		top left;
	overflow: hidden;
}
html,
body {
	min-height: 100vh;
}
/* Media query for screens less than 600px wide */
@media (min-width: 600px) {
}

label,
input {
	display: block;
	align-items: center;
	text-align: center;
}
input {
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 100%;
	border: 2px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
}
form button {
	background-color: var(--background-3);
	color: var(--text-primary);
	font-family: "Roboto";
	font-size: 1.2em;
	border-radius: 8px;
}
.box-input {
	background-color: var(--background-4);
	color: var(--text-primary);
	border-radius: 15px;
	margin: 20px auto;
	padding: 20px;
	position: relative;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
	align-items: center;
	text-align: center;
}
.box-input h3 {
	margin-top: 0px;
}

.room-creation {
	display: grid;
	grid-template-columns: 5fr;

	gap: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.page-header {
	text-align: center;

	/* this is for the blue bar behind the avalon text */
	/* background-color: var(--background-3); */

	color: var(--text-header);
	font-size: 4.5em;

	text-shadow: 3px 3px black;

	font-family: "Old Standard TT", serif;
}

/* below was previously here */
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

div.error {
	background-color: var(--error);
	color: var(--text-primary);
	border-radius: 15px;
	margin: 20px auto;
	padding: 20px;
	position: relative;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
input.error {
	border: 2px solid var(--error);
	font-family: "Roboto";
}
